* {
  direction: rtl;
  font-family: "Yekan", sans-serif;
  user-select: none;
  -moz-user-select: none;
}

body {
  background-color: #f5f5f5;
}

.soft-shadow {
  box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, 0.1), 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header p {
  font-size: 36px;
}

.carousel-item {
  height: calc(100vh - 176px);
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 176px);
}

@media screen and (max-width: 992px) {
  header p {
    font-size: 24px !important;
  }

  .carousel-item img {
    min-height: 300px;
  }

  .carousel-item {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  header p {
    font-size: 20px !important;
  }

  .carousel-item img {
    min-height: 150px;
  }

  .carousel-item {
    height: 150px;
  }
}

.logo {
  width: 10rem;
}

.badge {
  transform: rotate(-15deg);
}

.article-summary p {
  font-family: Nazanin, sans-serif;
  font-size: 18px;
  text-align: justify;
  text-indent: 30px;
}

article h1 {
  text-align: center;
}

article img {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2rem auto;
}

article p {
  font-family: Nazanin, sans-serif;
  font-size: 24px;
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 2rem;
}
