* {
  direction: rtl;
  font-family: "Yekan", sans-serif;
}

.carousel-item {
  height: calc(100vh - 176px);
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 176px);
}

.logo {
  width: 10rem;
}

.badge {
  transform: rotate(-15deg);
}

article h1 {
  text-align: center;
}

article img {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2rem auto;
}

article p {
  font-family: Nazanin, sans-serif;
  font-size: 25px;
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 2rem;
}
